<<<<<<< HEAD
<<<<<<< HEAD
<!--********************************************************************************
 * WEB322 – Assignment 06
 *
 * I declare that this assignment is my own work in accordance with Seneca's
 * Academic Integrity Policy:
 *
 * https://www.senecacollege.ca/about/policies/academic-integrity-policy.html
 *
 * Name: Julia Alekseev Student ID: 051292134 Date: Nov 29, 2023
 *
 * Published URL: https://dull-red-lovebird-shoe.cyclic.app/
 ********************************************************************************-->
=======
>>>>>>> parent of 6bd6358 (a6 complete)
=======
>>>>>>> parent of 6bd6358 (a6 complete)
<%- include('partials/header') %>
<%= console.log(set) %>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      fetch("https://quotable.io/random")
        .then((response) => response.json())
        .then((data) => {
          const quoteElement = document.getElementById("quote");
          quoteElement.innerHTML = `"${data.content}" <br /> - ${data.author}`;
        })
        .catch((error) => {
          console.error("Failed to fetch the random quote:", error);
        });
    });
  </script>
  
<body>
  <%- include('partials/navbar', {page: '/set'}) %>
  <br />

  <div class="container mx-auto p-4">

    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold"><%= set.name %></h1>
          <p class="py-6">Below, you will find detailed information about the set: <%= set.name %></p>
        </div>
      </div>
    </div>
  
    <br />
  
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">


    <div class="card card-compact w-96 bg-base-100 shadow-xl border-2">
        <img class="w-full rounded-lg" src='<%= set.img_url %>' alt="Set Image" /></div>

    <div class="prose">
      <p>
        <span class="font-bold">Set Name: </span> <%= set.name %> <br />
        <span class="font-bold">Year Released: </span> <%= set.year %> <br />
        <span class="font-bold">Theme: </span> <%= set['Theme.name']%> <br />
        <span class="font-bold">Number of Parts: </span> <%= set.num_parts %> <br /><br />
        <span id="quote"></span>
        <br /><br />
        <a class="btn btn-success btn-sm" href="#" onclick="location.href='/lego/editSet/<%= set.set_num %> '">EDIT SET: <%= set.name %></a>
        <a class="btn btn-primary btn-sm" href="#" onclick="history.back(); return false;">RETURN</a>   
      </p>
    </div>
  </div>
</div>

  </body>
  

</html>